@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(233, 47%, 7%);
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65%;
  width: 70%;
}
.divtexto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 100%;
  background: hsl(244, 38%, 16%);
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.divtext1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 72%;
}
h2 {
  color: hsl(0, 0%, 100%);
  font-size: 42px;
  font-weight: 700;
}

.spancolor {
  color: hsl(277, 64%, 61%);
}
p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 17px;
  line-height: 1.5;
}

.span1 {
  display: flex;
  font-weight: 700;
  font-size: 28px;
  color: hsl(0, 0%, 100%);
}
.span2 {
  font-weight: 400;
  font-size: 16px;
  color: hsla(0, 0%, 100%, 0.75);
}
.divtext2 {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.divimg {
  height: 100%;
  width: 50%;
  background: linear-gradient(hsl(277, 64%, 61%, 0.6), hsl(277, 64%, 61%, 0.6)),
    url(./images/image-header-desktop.jpg);
  background-size: cover;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-position: top;
}

@media (max-width: 992px) {
  main {
    min-height: 200vh;
  }
  section {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column-reverse;
  }
  .divimg {
    height: 25%;
    width: 86%;
    background: linear-gradient(
        hsl(277, 64%, 61%, 0.6),
        hsl(277, 64%, 61%, 0.6)
      ),
      url(./images/image-header-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-top-left-radius: 8px;
    border-bottom-right-radius: unset;
  }
  .divtexto {
    height: 55%;
    width: 86%;
    border-top-left-radius: unset;
    gap: 20px;
    border: solid blue;
    justify-content: space-around;
  }
  .divtext1 {
    align-items: center;
    text-align: center;
    width: 90%;
    height: 10%;
  }
  p {
    width: 86%;
  }

  .divtext2 {
    height: 10%;
    width: 90%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  .span1 {
    display: flex;
    justify-content: center;
  }
}
